.mypy_cache
__pycache__

examples/*/*.net
examples/*/*.edg
examples/*/*.pdf
/*.net
BlinkyExample/

*.raw
*.plt

# IDEs
.project
.pydevproject
.idea
*.iml

# Python
*.pyc

Pipfile.lock

# Python packaging
build
edg.egg-info
dist

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Misc
*.log
*.csv
*.kicad_sch.lck
*.kicad_pcb.lck
